.values {
  width: 500px;
  padding: 20px;
  font-family: "Roboto";
  font-size: 14px;
  line-height: 28px;
  color: #999999;
}

.values input {
  width: 100%;
  font-size: 18px;
  font-weight: bold;
  font-family: "Roboto";
  background: #eeeeee;
  border-radius: 10px;
  border: 0;
  padding: 10px 15px;
}

.values td button{
  border: 1px solid #1976d2;
  border-radius: 5px;
  transform: translateY(75%);
}

.values tr input{
  width: 60%;
}

.values input:focus {
  outline: none;
}
