.values {
  width: 500px;
  padding: 20px;
  font-family: "Roboto";
  font-size: 14px;
  line-height: 28px;
}

.value {
  margin-right: 10px;
}
.value::last-child {
  margin-right: 0;
}

input {
  width: 100%;
  font-size: 18px;
  font-weight: bold;
  font-family: "Roboto";
  background: #eeeeee;
  border-radius: 10px;
  border: 0;
  padding: 10px 15px;
  box-sizing: border-box;
}
input:focus {
  outline: none;
}
